* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header {
  height: 80vh;
  font-family: 'Montserrat', sans-serif;
}

.logo-img {
  height: 100%;
}

nav {
  background: rgba(230, 230, 230, 0.1);
  -webkit-box-shadow: 5px 10px rgba(0, 0, 0, 0.65);
          box-shadow: 5px 10px rgba(0, 0, 0, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2.5px solid #FDB933;
  height: 8vh;
}

nav .nav-img {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-ul {
  width: 60%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

nav ul li:hover a {
  color: #FDB933;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 15px;
  color: black;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.slider {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  background-size: cover !important;
}

.slide .content {
  position: absolute;
  bottom: -600px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 600px;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 30px 20px 40px 20px;
  opacity: 0;
  color: white;
}

.slide.current {
  opacity: 1;
}

.slide.current .content {
  opacity: 1;
  -webkit-transform: translateY(-620px);
          transform: translateY(-620px);
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.slide:nth-child(1) {
  background: url("../images/carousel-img-1.jpg");
  background-position: 0 65%;
}

.slide:nth-child(2) {
  background: url("../images/carousel-img-2.jpg");
  background-position: center;
}

.slide:nth-child(3) {
  background: url("../images/carousel-img-3.jpg");
  background-position: center;
}

button#next {
  position: absolute;
  top: 45%;
  right: 15px;
}

button#prev {
  position: absolute;
  top: 45%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.buttons button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.whyBAC {
  font-family: 'Montserrat', sans-serif;
  padding: 12% 17% 1% 17%;
  text-align: center;
}

.whyBAC .whyBac-header {
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}

.whyBAC .whyBac-header span {
  color: #FDB933;
}

.whyBAC .cards {
  display: -ms-grid;
  display: grid;
  padding-top: 5rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
}

.whyBAC .cards .card {
  position: relative;
  border: 1px solid #FDB933;
  border-radius: 20%;
  padding: 3rem 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.whyBAC .cards .card i.fas {
  position: absolute;
  top: -10%;
  right: 50%;
  margin-right: -35px;
  z-index: 2;
  font-size: 3.5rem;
}

.whyBAC .cards .card i.fas.fa-university {
  margin-right: -28px;
}

.whyBAC .cards .card h3 {
  padding-bottom: 10px;
}

.whyBAC .cards .card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

hr {
  border: 0;
  border-bottom: 15px dotted rgba(0, 0, 0, 0.1);
  width: 10%;
  margin: 7% auto;
}

.courses {
  padding: 1% 12% 8%;
  text-align: center;
}

.courses h1 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 4%;
  font-size: 33px;
}

.courses h1 span {
  color: #FDB933;
}

.courses .course {
  font-family: 'Roboto', sans-serif;
  margin: 5%;
  border: 1px solid black;
  height: 11rem;
}

.courses .course a {
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.courses .course a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.courses .course h3 {
  padding: 10px 40px;
  letter-spacing: 2px;
  font-size: 25px;
  color: white;
}

.courses .course:nth-child(odd) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.courses .course:nth-child(odd) a {
  margin-right: auto;
  margin-left: 5%;
}

.courses .course:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.courses .course:nth-child(even) a {
  margin-left: auto;
  margin-right: 5%;
}

.courses .degree {
  background: url("../images/course-image1.jpg");
  background-position: center;
  background-size: cover;
}

.courses .pre-uni {
  background: url("../images/course-image3.jpg");
  background-position: center;
  background-size: cover;
}

.courses .ukt {
  background: url("../images/course-image2.jpg");
  background-position: center;
  background-size: cover;
}

/************************ enquiry ***************************************/
section.enquiry {
  text-align: center;
  padding: 14% 17%;
  background-color: #fba702;
  font-family: 'Montserrat', sans-serif;
}

section.enquiry h1 {
  padding-bottom: 8%;
  font-size: 33px;
}

section.enquiry h1 span {
  color: white;
}

section.enquiry span.contact {
  font-size: 17px;
  cursor: pointer;
  padding: 2%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

section.enquiry span.contact:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/******************** footer ************************************/
.footer-distributed {
  background-color: #292c2f;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}

/* footer company logo */
.footer-logo {
  width: 20%;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/*# sourceMappingURL=style.css.map */